.notification-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background-color: #fcfff9;
}

.notification-bar {
    padding: .1em 0;
    height: 1em;
    width: 25%;
    border-radius: 3px;
    text-align: center;
}

#fal {
    visibility: hidden;
}

.body {
    position: fixed;
    background-color: #fcfff9;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#loggedout {
    height: 100%;
    padding-top: 25%;
}