.decklist {
    margin-top: 5%;
    width: 70%;
    height: 65%;
    background-color: white;
    list-style-type: none;
    box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, .4);
    border-radius: 5px;
    overflow: scroll;
}

.button-cont {
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.delete-deck-button {
    background-color: #af573c;
    border-radius: 0;
    border: 0;
    padding: 0 .5em;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
    height: 2em;
    color: #441f0d;
    border-radius: 2px;
    font-weight: 800;
    font-size: 1em;
    height: 50%;
    transition: background-color .2s ease-out;
}

.delete-deck-button:hover {
    background-color: #983e34;
}

.decklist-button {
    background-color: #d17e55;
    border-radius: 0;
    border: 0;
    width: 60px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
    height: 2em;
    color: #441f0d;
    border-radius: 2px;
    height: 50%;
    transition: background-color .2s ease-out;
}

.decklist-button:active {
    box-shadow: none;
}

.decklist-button:hover {
    background-color: #b15640;
}

#newdeck-button {
    margin-left: 1%;
}

li button {
    margin: 0 5%;
}

#decklist-header {
    height: 2em;
    background-color: #a4c695;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #4b5a4d;
    display: flex;
    align-items: center;
}

.deck-ele {
    height: 3em;
    background-color: #d9e0da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4b5a4d;
    transition: background-color .4s ease-out;
}

.deck-ele:hover {
    background-color: #c2d0ca;
}

.deckname {
    display: inline-block;
    margin-left: 1%;
    text-shadow: 0px 0px 1px #b5b5b5;
}

.newdeck-panel {
    background-color: #bcccc3;
    height: 3em;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4) inset;
}

.newdeck-form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#label-text {
    display: inline-block;
    margin-right: 5px;
    text-shadow: 0px 0px 1px #b5b5b5;
}

.createdeck-button {
    background-color: #d17e55;
    border-radius: 0;
    border: 0;
    width: 60px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
    color: #441f0d;
    border-radius: 2px;
    transition: background-color .2s ease-out;
    height: 40%;
}

.createdeck-button:hover {
    background-color: #b15640;
}

.createdeck-input {
    display: inline-block;
    font-size: .9em;
    padding-top: .1em;
    padding-bottom: .1em;
    width: 60%;
    border: none;
    padding-left: 3%;
    outline: none !important;
}

.createcard-panel {
    background-color: #bcccc3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4) inset; 
}

.translation-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2em;
    background-color: #98afaa;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .4) inset; 
}

input:active {
    outline: none;
}

input:focus {
    outline: none;
}

.translation-form input {
    height: 1.2em;
}

.createcard-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 9em;
    width: 100%;
}

.kanji-reading {
    height: 80%;
    width: 50%;
}

.kanji-reading input {
    width: 80%;
    margin-left: 5%;
}

.createcard-form .label-text {
    margin-left: 5%;
    margin-top: 3%;
}

.gloss {
    height: 80%;
    width: 50%;
}

.gloss textarea {
    margin-left: 5%;
    width: 80%;
    height: 65%;
    border: none;
    border-radius: 2px;
    padding: .2em .2em;
}

textarea:focus {
    outline: none;
}

textarea:active {
    outline: none;
}

.createcard-button-cont {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.createcard-button-cont button {

}
